  <div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple blog-like app, built in rails to demonstrate CRUD functionality.</p>
    <hr class="my-4">
    <p>Nothing is so special about this site, only serves as practice area to utilize both Bootsrap and Rails.</p>
    <%= link_to "Get Started", articles_path, class: "btn btn-primary btn-lg", role: "button" %>
  </div>
